/* work by Jerry */
body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#0054a1 1%, white 50%);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

@media (max-height: 768px) {
    .navigation-bar {
        width: 80px !important;
        height: 80px !important;
        background-size: 60px 60px !important;
        background-position: 10px 10px !important;
        position: fixed !important;
        top: 30px !important;
        left: 30px !important;
    }

    .navigation-bar:focus-within {
        top: 0 !important;
        left: 0 !important;
        width: 320px !important;
        height: 100% !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 15px !important;
        border-bottom-right-radius: 15px !important;
        background-position: 40px 40px !important;
    }

    #link-list-1 {
        display: flex !important;
        margin-top: 120px !important;
    }

    #link-list-1>li {
        padding: 10px !important;
        margin-bottom: 0 !important;
    }

    #link-list-2 {
        margin-top: 0px !important;
    }

    #sublist-1 {
        top: 225px !important;
    }

    #sublist-2 {
        top: 265px !important;
    }

    #sublist-3 {
        top: 305px !important;
    }

    #sublist-4 {
        top: 345px !important;
    }

    #sublist-5 {
        top: 385px !important;
    }

    #sublist-6 {
        top: 425px !important;
    }

    #sublist-7 {
        top: 465px !important;
    }

    #sublist-8 {
        top: 410px !important;
    }

    #sublist-9 {
        top: 420px !important;
    }
}

@media only screen and (max-width: 768px) and (pointer: none) {
    .navigation-bar:hover {
        top: 0 !important;
        left: 0 !important;
        width: 360px !important;
        height: 100% !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 15px !important;
        border-bottom-right-radius: 15px !important;
        background-position: 40px 40px !important;
    }
}

.navigation-bar {
    width: 100px;
    height: 100px;
    background-color: #f7f7f7c1;
    background-image: url(../img/资源\ 1.png);
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border-radius: 15px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    position: fixed;
    top: 30px;
    left: 30px;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0.3s;
    overflow: hidden;
    word-break: keep-all;
}

.navigation-bar:focus-within {
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-position: 40px 40px;
}

#link-list-1 {
    list-style: none;
    margin-top: 140px;
}

#link-list-1>li {
    display: block;
    width: fit-content;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #e5e5e592;
    border: solid 2px #cfcfcf;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#link-list-2 {
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#link-list-2>li {
    width: 125px;
    line-height: 40px;
    transition: all 0.3s;
}

#link-list-2>li>a {
    transition: all 0.3s;
}

#link-list-2>li>a:hover {
    color: gray;
}

.sublist {
    font-size: 18px;
    font-weight: normal;
    list-style: none;
    line-height: 33px;
    padding-right: 20px;
    padding-left: 30px;
    position: absolute;
    left: 150px;
    top: 365px;
    color: #00000000;
    transition: all 0.2s;
    transition-delay: 0.3s;
    display: none;
}

.sublist>li>a {
    transition: all 0.2s;
    transition-delay: 0.3s;
    color: #00000000;
}

#sublist-2 {
    top: 405px;
}

#sublist-3 {
    top: 445px;
}

#sublist-4 {
    top: 485px;
}

#sublist-5 {
    top: 525px;
}

#sublist-6 {
    top: 565px;
}

#sublist-7 {
    top: 605px;
}

#sublist-8 {
    top: 545px;
}

#sublist-9 {
    top: 560px;
}

#link-list-2-item-2:hover #sublist-1 {
    color: black;
    display: block;
}

#link-list-2-item-2:hover #sublist-1>li>a {
    color: black;
}

#link-list-2-item-3:hover #sublist-2 {
    color: black;
    display: block;
}

#link-list-2-item-3:hover #sublist-2>li>a {
    color: black;
}

#link-list-2-item-4:hover #sublist-3 {
    color: black;
    display: block;
}

#link-list-2-item-4:hover #sublist-3>li>a {
    color: black;
}

#link-list-2-item-5:hover #sublist-4 {
    color: black;
    display: block;
}

#link-list-2-item-5:hover #sublist-4>li>a {
    color: black;
}

#link-list-2-item-6:hover #sublist-5 {
    color: black;
    display: block;
}

#link-list-2-item-6:hover #sublist-5>li>a {
    color: black;
}

#link-list-2-item-7:hover #sublist-6 {
    color: black;
    display: block;
}

#link-list-2-item-7:hover #sublist-6>li>a {
    color: black;
}

#link-list-2-item-8:hover #sublist-7 {
    color: black;
    display: block;
}

#link-list-2-item-8:hover #sublist-7>li>a {
    color: black;
}

#link-list-2-item-9:hover #sublist-8 {
    color: black;
    display: block;
}

#link-list-2-item-9:hover #sublist-8>li>a {
    color: black;
}

#link-list-2-item-10:hover #sublist-9 {
    color: black;
    display: block;
}

#link-list-2-item-10:hover #sublist-9>li>a {
    color: black;
}